.button {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  padding: 1rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--primaryColor);
}

.button:hover {
  background-color: var(--secondaryColor);
}
